@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Poppins:wght@600&display=swap');
/*--------------------------------------------------- Navigation/Header -------------------------------------------------------*/
header {
    
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
    z-index: +1;
}
#logo_link{   
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    z-index: +1;

}
nav {
    display: flex;
    /* justify-content: space-around; */
    z-index: +1;
    
}
nav a {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 30px;
    color: #f4feff;
    text-align: center;
    text-decoration: none;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 30px;
    padding-bottom: 30px;
}
nav a:hover {
    background-color: #FFC380;
}
/* ----------------------------------------------------- Hero Image ----------------------------------------------------------- */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 100px;
    margin-top: 250px;
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: left;
}
#hero-img {
    width: 100%;
    height: 100vh;
}
.hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /* z-index: -1; */
}
.hero-txt1 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 63px;
}
.hero-txt2 {
    color: #34bac4;
    font-family: "Poppins", Sans-serif;
    text-shadow: 0 0 10px #000;
    font-size: 55px;
    font-weight: 700;
    line-height: 63px;
}
/*---------------------------------------------------------- Body -------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: var("Josefin Sans");
    color: var(--headline-color-on-white);
  }
body {
    max-width: 1600px;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.title{
    /* padding-bottom: 3px;
    display: inline;
    border-bottom: 5px solid #34bac4;
    display: inline; */
}
.title-box h2{
    text-align: center;
        font-size: 45px; font-weight: 800; color: #000; letter-spacing: 1px;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /*display: flex;
    justify-content: center; */
}
.title-box h2:after,.title-box h2:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #34bac4;
    border-top: 3px solid #34bac4;
    height: 13px;
    background-color: #f8f8f8;
}

/*------------------------------------------------------ About Me --------------------------------------------------------------*/
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 120px;
}
.about-me-img-box {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    display: grid;
    
}
.about-me-img {
    width: 77%;
    height: 92%;
    grid-column: 2/4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-me-txt-box {
    padding-top: 30px;
    grid-column: 2/3;
}
.about-me-title {
    padding-right: 20px;
    border-bottom: 5px solid #34bac4;
    padding-bottom: 3px;
    display: inline;
}
.about-me-p {
    padding-right: 20px;
    line-height: 45px;
}

/* --------------------------------------------------- Scrolling Img ----------------------------------------------------------- */
.background-scroll {
    width: 100%;
    height: 100%;
}
.scrolling-image {
    /* The image used */
    background-image: url("../images/motherboard3.jpg");
  
  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
 
/* ------------------------------------------------------- Projects ----------------------------------------------------------------------*/
.projects {
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-rows: 400px 400px;
}
.proj-section1 {
    grid-template-columns: 1fr 1fr;
    grid-row: 1/2;
    display: grid;
}
.proj-section2 {
    grid-template-columns: 1fr 1fr;
    grid-row: 2/3;
    display: grid;
}
.proj-box {
    padding: 25px;
    grid-template-rows: 1.25fr .15fr .75fr;
    display: grid;
    border: #000;
}

.proj-img {
    width: 100%;
    border: 3px solid #000;
}


  /* ----------------------------------------------------- Blog -------------------------------------------------------------------------*/
.blog-page {
    grid-template-rows: 500px 500px 500px;
    display: grid;
}
.blog-img {
    width: 100%;
    height: 100%;
}

.block1 {
    grid-template-columns: 1fr 1fr;
    grid-row: 1/2;
    display: grid;
}
.block2 {
    grid-template-columns: 1fr 1fr;
    grid-row: 2/3;
    display: grid;
}
.block3 {
    grid-template-columns: 1fr 1fr;
    grid-row: 3/4;
    display: grid;
}